<style>
        .example::-webkit-scrollbar {
            display: none;
        }
        .jumbotron{
            background-image: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5) ), url(jumbo3.jpg);
            height:95vh;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding-bottom: 0px;
            margin-bottom: 0px;
            
        }

        .jumbotron .container {
            position:relative;
            top:50px;
        }

        #card1:hover{
            background: #f8abab;
            border-top: 1px solid #d0d0d0;
            transition: 0.2s;
            box-shadow: 0 5px 10px -6px #000;
        }

        #card2:hover{
            background: #f8abab;
            border-top: 1px solid #d0d0d0;
            transition: 0.2s;
            box-shadow: 0 5px 10px -6px #000;
        }

        #card3:hover{
            background: #f8abab;
            border-top: 1px solid #d0d0d0;
            transition: 0.2s;
            box-shadow: 0 5px 10px -6px #000;
        }

        #card4:hover{
            background: #f8abab;
            border-top: 1px solid #d0d0d0;
            transition: 0.2s;
            box-shadow: 0 5px 10px -6px #000;
        }

        #card5:hover{
            background: #f8abab;
            border-top: 1px solid #d0d0d0;
            transition: 0.2s;
            box-shadow: 0 5px 10px -6px #000;
        }

        #card6:hover{
            background: #f8abab;
            border-top: 1px solid #d0d0d0;
            transition: 0.2s;
            box-shadow: 0 5px 10px -6px #000;
        }

        #tag{
          margin-top: 0%;
          background: linear-gradient(-45deg, #EC5252 0, #6E1A52 100%);
        }
        
        .links:hover{
          color: greenyellow;
          transition: 0.2s;
        }
    </style>